//COLORS

$primary-purple: #6347FB;


$text-title: #090B27;
$text-primary: #5B5D7E;

//FONTS
$font-primary:'Rubik', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  // 10px/16px = 62.5% -> 10px
}

body {
    font-family: $font-primary;
    color: $text-primary;
    font-weight: 400;
    line-height: 1.6;
}