.header {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(50rem, 1fr));
    height: 80vh;
    &__content {
        display: grid;
        grid-row-gap: 1rem;
        &__btn {

        }
        &-brandtext {

        }
        &-brands {
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(10rem, min-content));
            img {
                height: 2.2rem;
                align-self: center;
                justify-self: center;
            }
        }   
    }

    &__img {
        img {
            height: 90rem;
        }
        &-iphone {
            align-self: flex-end;
        }
        &-background {
            position: absolute;
            z-index: -1;
        }
    }
}